nav{
    font-family: 'Ubuntu', sans-serif;
    color: yellowgreen;
}
.home{
    font-family: 'Times New Roman', Times, serif;
}
.user{
    font-family: 'Times New Roman', Times, serif;
}
@media screen and (min-width:0px) and (max-width: 750px){
    nav{
        font-size: 0.5em;
    }
    col{
        padding-bottom: 10px;
    }
     .row-cols-md-4 .col {
        flex: 0 0 50%; 
        max-width: 50%;
    }
}